* {
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(22, 22, 22)!important;
    width: 100vw;
    height: 100vh;
}

.header{
    position: fixed;
    z-index: 1;
    width: 100vw;
    
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}


.container-2{
    height: 75vh;
    width: 98vw;
    background-color: rgb(30, 30, 30);
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
    margin-top: 1vh;
}

.ticket{
    background-color: rgb(190,172,129);
    width: 10vw;
    height: 2vh;
}