:root {
	--trsn: all 0.5s ease 0s;
	--black: #000;
}

*, *:before, *:after {
	position: absolute;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--black);
  	filter: sepia(0.75);
	perspective: 100vmin;
}

.content {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	transition: var(--trsn);
  	background-color: grey;
}

.content:before {
	font-family: Arial, Helvetica, serif;
	bottom: 0vmin;
	font-weight: 500;
	font-size: 1.35vmin;
	color: #fffD;
	border-radius: 1px;
	padding: 20vmin 2vmin 3vmin;
	letter-spacing: 0.5px;
	word-spacing: 3px;
	background: linear-gradient(0deg, black, transparent);
	width: 100%;
	text-align: center;
}

.content:after {
	content: "";
	width: 100%;
	height: 100%;
	box-shadow: 0 0 20vmin 0vmin var(--black) inset, 0 0 3vmin 0.5vmin var(--black) inset, 0 0 1vmin 1vmin var(--black);
}

.film, .effect {
	width: 100%;
	height: 100%;
	filter: blur(0.45px) drop-shadow(0px 0px 0px #fff1);
}

.film:after, .effect:after {
	content: '';
	width: 120%;
	height: 100%;
	top: 0;
	left: 0;
	padding-left: 100px;
	opacity: 0.5;
	animation: film-scratch 0.45s steps(1) infinite;
	background: repeating-linear-gradient(90deg, #0002 0 2px, transparent 4px 37vmin);
}

.effect:after {
	left: 30%;
	animation: effect-scratch 2s infinite;
}

.grain {
	width: 100%;
	height: 100%;
}

.grain:after {
	content: '';
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	opacity: .25;
	background-image: 
		repeating-conic-gradient(var(--black) 0%, transparent .00003%, transparent .0005%, transparent .00095%),
		repeating-conic-gradient(var(--black) 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
	animation: grain 0.5s steps(1) infinite;
	filter: drop-shadow(0px 0px 1px black);
}

@keyframes grain {
	0%, 100% { transform: translate(0, 0); }
	10% { transform: translate(-1%, -1%); }
	20% { transform: translate(1%, 1%); }
	30% { transform: translate(-2%, -2%); }
	40% { transform: translate(3%, 3%); }
	50% { transform: translate(-3%, -3%); }
	60% { transform: translate(4%, 4%); }
	70% { transform: translate(-4%, -4%); }
	80% { transform: translate(2%, 2%); }
	90% { transform: translate(-3%, -3%); }
}

@keyframes film-scratch {
	0%, 100% { transform: translateX(0); opacity: 0.5; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); opacity: 0.75; }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(-2%); }
}

@keyframes effect-scratch {
	0% { transform: translateX(0); opacity: 0.75; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(20%); }
	100% { transform: translateX(30%); }
}

@property --pos {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 20%;
}

.mainSection {
	position: absolute;
	z-index: 2;
	width: 100vw;
	height: 100vh;
}

.seccionCuenta{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  border: 4px solid rgb(22, 22, 22);
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle2 {
  border: 4px solid rgb(22, 22, 22);
  border-radius: 50%;
  height: 92%;
  aspect-ratio: 1;
}

.cuentaAtras {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(100px, 20vw, 500px);
  font-weight: bold;
  color: rgb(22, 22, 22);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 1000; 
}

.linea-horizontal, .linea-vertical {
  position: fixed;
  background-color: rgb(209, 209, 209);
  z-index: 2;
}


.linea-horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.linea-vertical {
  height: 100vh;
  width: 1px; /* Agrega este valor para que se vea */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.needle {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  height: 1px;
  width: 1200px;
  background: rgb(209, 209, 209);
  animation: animate 1s linear infinite;
  transform-origin: left;
  z-index: 999;
}

@keyframes animate {
  0% {
    transform: rotate(-90deg);
  }
  
  100% {
    transform: rotate(270deg);
  }
}

.divAbsolut{
	position: absolute;
}

.header {
  align-items: center; /* Asegura que los elementos dentro de .header se alineen verticalmente */
  height: 15vh;
  width: 100vw;
  color: black;
  font-family: 'Inter', sans-serif;
  z-index: 3;
}

.about, .menu, .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que ocupe toda la altura del contenedor */
}

.about div,
.menu div{
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-weight: 200;
}

.iconTop{
  filter: brightness(0);
  width: 46px;
  height: 46px;
}

.mainContent {
    top: 15vh;
    position: absolute;
    height: 70vh;
    color: white;
    font-family: 'Limelight', sans-serif;
    width: 100vw;
	font-weight: lighter;
}

.pageName {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100%;
    width: 100%;
    position: relative;
}

.title {
  color: black;
  text-align: center;
  margin: -7px;
  font-size: clamp(40px, 12vmin, 180px);
  line-height: 1.2;
  display: block;
  width: 100%;
  position: relative;
	font-family: "Limelight", sans-serif;
	letter-spacing: -0.06em;
}

.littleText{
	font-size: clamp(20px, 7vmin, 120px);
}

.buttons {
    position: relative; /* Contenedor relativo */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	  padding-top: 8vh;
    min-height: 10vh;
    z-index: 3;
}

/* Estilos generales para los botones */
.iniciarSesion, .registrarse {
    position: absolute;
    width: clamp(120px, 12vw, 180px); /* Tamaño adaptable */
    height: clamp(40px, 5vh, 60px);
    font-size: clamp(14px, 1.5vw, 18px);
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    background-color: #BEAC81;
    color: black;
}

.iniciarSesion:hover, .registrarse:hover {
    background-color: #9c8d6b;
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .iniciarSesion {
        left: max(25vw, 5%);
    }

    .registrarse {
        right: max(25vw, 5%);
    }
}

/* En móviles, apila los botones */
@media (max-width: 1800px) {
    .buttons {
        flex-direction: column;
        gap: 2vh;
    }

    .iniciarSesion, .registrarse {
        position: static; /* Los centra en columna */
        width: 80%;
        max-width: 250px;
        text-align: center;
    }
}

.iniciarSesion {
  left: max(40vw, 10%);
}

.registrarse {
  right: max(40vw, 10%);
}

.footer {
  position: absolute;
  padding-top: 78vh;
  height: 70vh;
  color: black;
  font-family: 'Limelight', sans-serif;
  width: 100vw;
  font-size: clamp(16px, 2vw, 20px);
  z-index: 1;
}

.footerText {
  position: relative; /* Los centra en columna */
  width: 80%;
  max-width: 650px;
  text-align: center;
  margin: 0 auto; /* Asegura el centrado horizontal */
  color: black;
  font-size: 18px;
}

.login-popup, .register-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
}

.popup-container {
  position: relative;
  width: 80%;
  max-width: 1000px;
  min-width: 320px;
  height: auto;
  min-height: 500px;
  max-height: 90vh;
  flex-direction: row;
  transition: all 0.3s ease;
  background: #1E1E1E;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10000;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.close-btn {
  position: absolute;
  top: -10px;
  right: 10px;
  background: none;
  border: none;
  color: #000;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  z-index: 10001; /* Añade esto */
  pointer-events: all; /* Asegurar que sea clickable */
}

@media (max-width: 1200px) {
  .popup-container {
    width: 95%;
    max-width: 800px;
    height: auto;
    min-height: 500px;
  }
}

@media (max-width: 768px) {
  .popup-container {
    flex-direction: column;
    width: 60%;
    height: 30%;
    max-height: 95vh;
    min-height: 400px;
  }
  
  .left-panel, .right-panel {
    width: 100% !important;
    height: auto;
    min-height: 300px;
  }
  
  .left-panel {
    border-radius: 15px 15px 0 0;
  }
  
  .right-panel {
    border-radius: 0 0 15px 15px;
    visibility: hidden;
  }
  
  .close-btn {
    top: 10px;
    right: 10px;
    font-size: 24px;
    filter: invert(1);
  }
}

@media (max-width: 480px) {
  .popup-container {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0;
  }
  
  .left-panel, .right-panel {
    padding: 20px;
    min-height: 50vh;
  }

}

.left-panel {
  position: relative;
  width: 60%;
  display: flex;
  background-color: #1E1E1E;
  border-radius: 15px 0 0 15px;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 300px; /* Añadir altura mínima */
}

.right-panel {
  position: relative; /* Añadir esto */
  width: 40%;
  display: flex;
  background-color: #BEAC81;
  border-radius: 0 15px 15px 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 300px; /* Añadir altura mínima */
}

.title3{
  color: #161616;
  position: absolute;
  top: -12vh;
  text-align: center;
  white-space: normal; /* Asegura que el texto se envuelva */
}

.subText{
  color: #161616;
  position: absolute;
  top: -2vh;
  text-align: center;
  white-space: normal; /* Asegura que el texto se envuelva */
  font-size: 14px;
}

.reducedSpace{
  padding-left: 25%;
  padding-right: 25%;
}

.contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Apila elementos verticalmente */
  align-items: center; /* Centrado horizontal */
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 400px; /* Ancho máximo para mejor lectura */
  padding: 0 30px;
  color: #BEAC81;
  box-sizing: border-box;
}

.login-form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title2 {
  position: absolute;
  top: -16vh;
  text-align: center;
  white-space: normal; /* Asegura que el texto se envuelva */
}

.subTitle {
  position: absolute;
  top: -11vh;
  text-align: center;
  white-space: normal; /* Texto envuelto por defecto */
  width: 100%; /* Ocupa todo el ancho */
}

.inputName, .inputPassword, .inputPassword2, .inputEmail{
  position: absolute;
  white-space: normal; /* Asegura que el texto se envuelva */
  width: 100%;
  background-color: #1E1E1E;
  border: 1px solid #BEAC81;
  border-radius: 15px;
  height: 80%;
  color: #BEAC81;
}

.inputButton{
  position: absolute;
  white-space: normal; /* Asegura que el texto se envuelva */
  width: 60%;
  color: black;
  background-color: #BEAC81;
  height: 80%;
  border-radius: 15px;
  top: 15vh;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.inputButton2{
  position: absolute;
  white-space: normal; /* Asegura que el texto se envuelva */
  width: 60%;
  color: black;
  background-color: #BEAC81;
  height: 80%;
  border-radius: 15px;
  top: 19vh;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.inputButton:hover, .inputButton2:hover {
  background-color: #a38d61; /* Cambia el color de fondo en hover */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
}

.inputName{
  top: -5vh;
  background-image: url('../img/usuario.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 18px 18px; /* width height */
  padding-left: 42px; /* Space for the icon */
}

.inputEmail{
  top: 2vh;
  background-image: url('../img/usuario.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 18px 18px; /* width height */
  padding-left: 42px; /* Space for the icon */
}

.inputPassword{
  display: block;
  background-image: url('../img/candado.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 18px 18px; /* width height */
  padding-left: 42px; /* Space for the icon */
}

.icon-right {
  position: absolute;
  left: 90%;
  width: 18px;
  height: 18px;
  pointer-events: auto; /* Enable clicks */
  cursor: pointer;
  z-index: 3;
}

.pos1{
  top: 2vh;
}

.pos2{
  top: 9vh;
}

.pos1icon{
  top: 3.5vh;
}

.pos2icon{
  top: 10.5vh;
}

.forgotPassword{
  position: absolute;
  white-space: normal; /* Asegura que el texto se envuelva */
  top: 7.5vh;
  left: 55%;
  color: #BEAC81;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease; /* Añade transición suave al cambio de color */
}

.forgotPassword:hover {
  color: #ffffff;
}

.termsAndConditions{
  position: absolute;
  white-space: normal; /* Asegura que el texto se envuelva */
  top: 14.5vh;
  color: #BEAC81;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s ease;
  cursor: default;
}

.inputPassword.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

/* Clase para input inactivo: invisible e inactivo */
.inputPassword.inactive {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.goRegisterForm{
  position: absolute;
  white-space: normal; /* Asegura que el texto se envuelva */
  top: 30vh;
  color: #BEAC81;
  border: none; /* Elimina el borde */
  font-size: 14px; /* Ajusta el tamaño del texto */
  cursor: pointer;
  background-color: #1E1E1E;
  text-decoration: none;
}

.goRegisterForm:hover {
  color: #ffffff;
}

.boldText {
  font-weight: bold;
}