body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

form{
    margin-bottom: 20px;
}

input{
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button{
    padding: 10px;
    background: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
}

.icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2%;
}

/* Para pantallas pequeñas (hasta 600px) */
@media only screen and (max-width: 600px) {
    .icon {
      right: 8%;
    }
  }
  
  /* Para pantallas medianas (hasta 768px) */
  @media only screen and (max-width: 768px) {
    .icon {
      right: 6%;
    }
  }
  
  /* Para pantallas grandes (hasta 1024px) */
  @media only screen and (max-width: 1024px) {
    .icon {
      right: 4%;
    }
  }
  
  /* Para pantallas extra grandes (más de 1024px) */
  @media only screen and (min-width: 1025px) {
    .icon {
      right: 2%;
    }
  }
