body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

form{
    margin-bottom: 20px;
}

input{
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.submit{
    padding: 10px;
    background: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background: #218838;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
}

.icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2%;
}

.icon2{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4%;
}

/* Para pantallas pequeñas (hasta 600px) */
@media only screen and (max-width: 600px) {
    .icon {
      right: 8%;
    }

    .icon2 {
        right: 10%;
      }
  }
  
  /* Para pantallas medianas (hasta 768px) */
  @media only screen and (max-width: 768px) {
    .icon {
      right: 6%;
    }

    .icon2 {
        right: 8%;
      }
  }
  
  /* Para pantallas grandes (hasta 1024px) */
  @media only screen and (max-width: 1024px) {
    .icon {
      right: 4%;
    }

    .icon2 {
        right: 6%;
      }
  }
  
  /* Para pantallas extra grandes (más de 1024px) */
  @media only screen and (min-width: 1025px) {
    .icon {
      right: 2%;
    }

    .icon2 {
        right: 4%;
      }
  }

body {
  font-family: Arial, sans-serif;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}
.popup h2 {
  margin-top: 0;
}
.popup input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.popup button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.popup button:hover {
  background: #218838;
}
.popup .close {
  background: #dc3545;
}
.popup .close:hover {
  background: #c82333;
}